@page
@model WebApplication1.Pages.EditModel
@{
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" asp-for="Name" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" asp-for="Price" required>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
}
